In [4]:
#Hello World Program
print("Hello, World!")

Hello, World!

In [2]:
# declaration/creation of variables happen automatically
counter = 100 # An integer assignment
miles = 1000.0 # A floating point
name = "John" # A string
print(counter)
print(miles)
print(name)

100
1000.0
John

In [3]:
#Strings
word = 'word'
sentence = "This is a sentence."
paragraph = """This is a paragraph. It is
made up of multiple lines and sentences."""
print(word)
print(sentence)
print(paragraph)

word
This is a sentence.
This is a paragraph. It is
made up of multiple lines and sentences.

In [5]:
#String Concatenation
print('a' + 'd')
print("hello"+" world")

ad
hello world

In [6]:
# List
# A list contains items separated by commas and enclosed within square brackets ([]). 
# Similar to arrays in C. However, items belonging to a list can be of different data type.

mylist = [0, 3, 2, 'hi']
print(mylist)

[0, 3, 2, 'hi']

In [8]:
#list within list
newlist = [3, 2, [5, 4, 3], [2, 3, 2]]
print(newlist)
print(newlist[0])

[3, 2, [5, 4, 3], [2, 3, 2]]
3

In [10]:
#returns element from the last
newlist = [3, 2, [5, 4, 3], [2, 3, 2]]
print(newlist[-1])
print(newlist[-2])
print(newlist[3][1])

[2, 3, 2]
[5, 4, 3]
3

In [14]:
#Slice operator ‘:’
newlist = [3, 2, [5, 4, 3], [2, 3, 2]]
print(newlist[2:4])#inclusive of start index and exclusive of end index
print(newlist[0:4:2])#behaves as [start:stop:step]

[[5, 4, 3], [2, 3, 2]]
[3, [5, 4, 3]]

In [16]:
#reverses the elements of the list
newlist = [3, 2, [5, 4, 3], [2, 3, 2]]
print(newlist[::-1])

[[2, 3, 2], [5, 4, 3], 2, 3]
[3, 2, [5, 4, 3]]
[2, [5, 4, 3], [2, 3, 2]]

In [17]:
print(newlist[:3])
print(newlist[1:])

[3, 2, [5, 4, 3]]
[2, [5, 4, 3], [2, 3, 2]]

In [2]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print (tinylist * 2) # Prints list two times
print (list + tinylist) # Prints concatenated lists

[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [3]:
#Comparing Lists
a =[3, 2, 4, 1]
b= [3, 2, 4, 1]
print(a==b)
c = [3,2,4,1,0]
print(a==c)

True
False

In [6]:
#Tuple
#A tuple is an immutable list, meaning that it is read-only and doesn’t change. 
#Tuples are defined using round brackets
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
tinytuple = (123, 'john')
print (tuple) # Prints complete tuple
print (tuple[0]) # Prints first element of the tuple
print (tuple[1:3]) # Prints elements starting from 2nd till 3rd
print (tuple[2:]) # Prints elements starting from 3rd element
print (tinytuple * 2) # Prints tuple two times
print (tuple + tinytuple) # Prints concatenated tuple

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [9]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
#tuple[2] = 1000 # Invalid syntax with tuple
list[2] = 1000 # Valid syntax with list
print(list)

['abcd', 786, 1000, 'john', 70.2]

In [10]:
#Dictionaries: Kind of hash-table type. Consist of key-value pairs. 
#Dictionaries are enclosed in curly braces. 
#You assign a key to each entry that you can use to access it.
months = {'Jan': 31, 'Feb': 28, 'Mar': 31}
print(months['Jan'])

31

In [12]:
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
print (dict['one']) # Prints value for 'one' key
print (dict[2]) # Prints value for 2 key
print (tinydict) # Prints complete dictionary
print (tinydict.keys()) # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [13]:
#Data Type Coneversion
print(int(2.7))
print(float(2))
print(complex(2,4))
print(str(44+55)+str(30/9))

2
2.0
(2+4j)
993.3333333333333335

In [14]:
#Airthmetic Operators
a = 21; b = 10; c = 0
c = a + b # Addition
print ("Addition = ", c)
c = a - b #Subtraction
print ("Subtraction = ", c )
c = a * b #Multiplication
print ("Multiplication = ", c)
c = a / b #Division 
print ("Division = ", c )
c = a % b #Modulus
print ("Reminder = ", c)
a = 2
b = 3
c = a**b #Exponent
print ("a^b = ", c)
a = 10
b = 5
c = a//b #Floor Division
print ("Result = ", c)

Addition =  31
Subtraction =  11
Multiplication =  210
Division =  2.1
Reminder =  1
a^b =  8
Result =  2

In [15]:
#Comparison Operators
a = 21; b = 10
if ( a == b ):
    print ("a is equal to b")
else:
    print ("a is not equal to b")
if ( a != b ):
    print ("a is not equal to b")
else:
    print ("a is equal to b")
if ( a < b ):
    print ("a is less than b" )
else:
    print ("a is not less than b")
if ( a > b ):
    print ("a is greater than b")
else:
    print ("a is not greater than b")

a is not equal to b
a is not equal to b
a is not less than b
a is greater than b

In [16]:
a = 21; b = 10
a,b=b,a #values of a and b swapped. a becomes 10, b becomes 21
print(a)
print(b)
if ( a <= b ):
    print ("a is either less than or equal to b")
else:
    print ("a is neither less than nor equal to b")
if ( b >= a ):
    print ("Line 6 - b is either greater than or equal to b")
else:
    print ("Line 6 - b is neither greater than nor equal to b")

10
21
a is either less than or equal to b
Line 6 - b is either greater than or equal to b

In [18]:
x=4
print(3<x<6)

True

In [20]:
#Assignment Operator
a = 21
b = 10
c = 0
c = a + b
print ("Value of c is ", c)
c += a #c=c+a
print ("Value of c is ", c )
c *= a #c=c*a
print ("Value of c is ", c )

Value of c is  31
Value of c is  52
Value of c is  1092

In [21]:
#Bitwise Operator
a = 60 # 60 = 0011 1100
b = 13 # 13 = 0000 1101
print ('a=',a,':',bin(a),'b=',b,':',bin(b))
c = a & b; # 12 = 0000 1100
print ("result of AND is ", c,':',bin(c))
c = a | b; # 61 = 0011 1101
print ("result of OR is ", c,':',bin(c))
c = a ^ b; # 49 = 0011 0001
print ("result of EXOR is ", c,':',bin(c))
c = ~a; # -61 = 1100 0011
print ("result of COMPLEMENT is ", c,':',bin(c))
c = a << 2; # 240 = 1111 0000
print ("result of LEFT SHIFT is ", c,':',bin(c))
c = a >> 2; # 15 = 0000 1111
print ("result of RIGHT SHIFT is ", c,':',bin(c))

a= 60 : 0b111100 b= 13 : 0b1101
result of AND is  12 : 0b1100
result of OR is  61 : 0b111101
result of EXOR is  49 : 0b110001
result of COMPLEMENT is  -61 : -0b111101
result of LEFT SHIFT is  240 : 0b11110000
result of RIGHT SHIFT is  15 : 0b1111

In [22]:
# Logical Operators
x=5
y=2
print((x>4) and (y<3))
print((x>5) or (y<3))
print(not(x>5) and (y<3))

True
True
True

In [23]:
#Membership Operators
a = 10
b = 20
list = [1, 2, 3, 4, 5 ]
if ( a in list ):
    print ("a is available in the given list")
else:
    print ("a is not available in the given list")
    
if ( b not in list ):
    print ("b is not available in the given list")
else:
    print ("b is available in the given list")
    
c=b/a
if ( c in list ):
    print ("c is available in the given list")
else:
    print ("c is not available in the given list")

a is not available in the given list
b is not available in the given list
c is available in the given list

In [24]:
#Identity Opeartors
a = 20
b = 20
print ('a=',a,':',id(a), 'b=',b,':',id(b))
if ( a is b ):
    print ("a and b have same identity")
else:
    print ("a and b do not have same identity")

if ( id(a) == id(b) ):
    print ("a and b have same identity")
else:
    print ("a and b do not have same identity")

b = 30
print ('a=',a,':',id(a), 'b=',b,':',id(b))
if ( a is not b ):
    print ("a and b do not have same identity")
else:
    print ("a and b have same identity")

a= 20 : 140706227983752 b= 20 : 140706227983752
a and b have same identity
a and b have same identity
a= 20 : 140706227983752 b= 30 : 140706227984072
a and b do not have same identity

In [25]:
a = 20
b = 10
c = 15
d = 5
print ("a:%d b:%d c:%d d:%d" % (a,b,c,d ))
e = (a + b) * c / d #( 30 * 15 ) / 5
print ("Value of (a + b) * c / d is ", e)

e = ((a + b) * c) / d # (30 * 15 ) / 5
print ("Value of ((a + b) * c) / d is ", e)

e = (a + b) * (c / d) # (30) * (15/5)
print ("Value of (a + b) * (c / d) is ", e)

e = a + (b * c) / d # 20 + (150/5)
print ("Value of a + (b * c) / d is ", e)

a:20 b:10 c:15 d:5
Value of (a + b) * c / d is  90.0
Value of ((a + b) * c) / d is  90.0
Value of (a + b) * (c / d) is  90.0
Value of a + (b * c) / d is  50.0

In [27]:
#Decision Making
#if statement
var1 = 100
if var1:
    print ("1 - Got a true expression value")
    print (var1)
var2 = 0
if var2:
    print ("2 - Got a true expression value")
    print (var2)

1 - Got a true expression value
100

In [28]:
#reading input
str = input("Enter your input: ");
print("Received input is : ", str)

Enter your input: 5
Received input is :  5

In [29]:
#if else statement
amount=int(input("Enter amount: "))
if amount<1000:
    discount=amount*0.05
    print ("Discount",discount)
else:
    discount=amount*0.10
    print ("Discount",discount)
print ("Net payable:",amount-discount)

Enter amount: 5
Discount 0.25
Net payable: 4.75

In [30]:
#elif statement
amount=int(input("Enter amount: "))
if amount<1000:
    discount=amount*0.05
    print ("Discount",discount)
elif amount<5000:
    discount=amount*0.10
    print ("Discount",discount)
else:
    discount=amount*0.15
    print ("Discount",discount)
print ("Net payable:",amount-discount)

Enter amount: 600
Discount 30.0
Net payable: 570.0

In [31]:
#looping Constructs
#While Loop
count = 0
while (count < 9):
    print ('The count is:', count)
    count = count + 1

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8

In [32]:
#If the else statement is used with a while loop, the else statement is executed when the condition becomes false.
count = 0
while count < 5:
    print (count, " is less than 5")
    count = count + 1
else:
    print (count, " is not less than 5")

0  is less than 5
1  is less than 5
2  is less than 5
3  is less than 5
4  is less than 5
5  is not less than 5

In [42]:
del list

NameError: name 'list' is not defined

In [40]:
#range() function
#range(n) generates an iterator to progress integers starting with 0 upto n-1.
print(range(0, 5))
#To obtain a list object of the sequence, it is type casted to list().
#Now this list can be iterated using the for statement.
print(list(range(5)))

range(0, 5)
[0, 1, 2, 3, 4]

In [41]:
#for loop
for var in list(range(5)):
    print (var)

0
1
2
3
4

In [43]:
for letter in 'Python': # traversal of a string sequence
    print ('Current Letter :', letter)
print()#prints newline character
fruits = ['banana', 'apple', 'mango']
for fruit in fruits: # traversal of List sequence
    print ('Current fruit :', fruit)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n

Current fruit : banana
Current fruit : apple
Current fruit : mango

In [45]:
fruits = ['banana', 'apple', 'mango']
for index in range(len(fruits)):
    print ('Current fruit :', fruits[index])

Current fruit : banana
Current fruit : apple
Current fruit : mango

In [46]:
#If the else statement is used within a for loop, the else block is executed only if for loops terminates normally (and not by encountering break statement).
#If the else statement is used with a while loop, the else statement is executed when the condition becomes false. Again, the loop must terminate normally.
numbers=[11,33,55,39,55,75,37,21,23,41,13]
for num in numbers:
    if num%2==0:
        print ('the list contains an even number')
        break
else:
    print ('the list does not contain even number')

the list does not contain even number

In [47]:
#Loop Control Statements
# break: Terminates the loop statement and transfers execution to the statement immediately folloing the loop.
# continue :  Causes the loop to skip the remainder of its body and immediately retest its condition prior to reiterating. 
for letter in 'Python': # First Example
    if letter == 'h':
        break
    print ('Current Letter :', letter)

var = 10 # Second Example
while var > 0:
    print ('Current variable value :', var)
    var = var -1
    if var == 5:
        break

Current Letter : P
Current Letter : y
Current Letter : t
Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6

In [48]:
#list max() method
#max() method returns the elements from the list with maximum value.
list1, list2 = ['C++','Java', 'Python'], [456, 700, 200]
print ("Max value element : ", max(list1))

print ("Max value element : ", max(list2))

Max value element :  Python
Max value element :  700

In [50]:
#list min() method
#min() returns the elements from the list with minimum value.
list1, list2 = ['C++','Java', 'Python'], [456, 700, 200]
print ("min value element : ", min(list1))

print ("min value element : ", min(list2))

min value element :  C++
min value element :  200

In [51]:
#List list() method
#list() method takes sequence types and converts them to lists. This is used to convert a given tuple into list.
aTuple = (123, 'C++', 'Java', 'Python')
list1 = list(aTuple)
print ("List elements : ", list1)

str="Hello World"
list2=list(str)#converts string to a list
print ("List elements : ", list2)

List elements :  [123, 'C++', 'Java', 'Python']
List elements :  ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [52]:
#List append() Method
#append() method appends a passed obj into the existing list.
list1 = ['C++', 'Java', 'Python']
list1.append('C#')
print ("updated list : ", list1)

updated list :  ['C++', 'Java', 'Python', 'C#']

In [53]:
#List count() Method
#count() method returns count of how many times obj occurs in list.
aList = [123, 'xyz', 'zara', 'abc', 123];
print ("Count for 123 : ", aList.count(123))

print ("Count for zara : ", aList.count('zara'))

Count for 123 :  2
Count for zara :  1

In [54]:
#List extend() Method
#extend() method appends the contents of seq to list.
list1 = ['physics', 'chemistry', 'maths']
list2=list(range(5)) #creates list of numbers between 0-4
list1.extend( list2)
print ('Extended List :',list1)

Extended List : ['physics', 'chemistry', 'maths', 0, 1, 2, 3, 4]

In [58]:
#List index() Method
# index() method returns the lowest index in list that obj appears.
list1 = ['physics', 'chemistry', 'maths']
print ('Index of chemistry', list1.index('chemistry'))

Index of chemistry 1

In [60]:
#List insert() Method
#insert() method inserts object obj into list at offset index.
list1 = ['physics', 'chemistry', 'maths']
list1.insert(1, 'Biology')
print ('Final list : ', list1)

Final list :  ['physics', 'Biology', 'chemistry', 'maths']

In [61]:
#List pop() Method
#pop() method removes and returns last object or obj from the list.
list1 = ['physics', 'Biology', 'chemistry', 'maths']
list1.pop()
print ("list now : ", list1)

list1.pop(1)
print ("list now : ", list1)

list now :  ['physics', 'Biology', 'chemistry']
list now :  ['physics', 'chemistry']

In [64]:
#List remove() Method
#remove() removes given obj from the list
list1 = ['physics', 'Biology', 'chemistry', 'maths']
list1.remove('Biology')
print ("list now : ", list1)
list1.remove('maths')
print ("list now : ", list1)

list now :  ['physics', 'chemistry', 'maths']
list now :  ['physics', 'chemistry']

In [65]:
#List reverse() Method
#reverse() method reverses objects of list in place.
list1 = ['physics', 'Biology', 'chemistry', 'maths']
list1.reverse()
print ("list now : ", list1)

list now :  ['maths', 'chemistry', 'Biology', 'physics']

In [67]:
#List sort() Method
# sort() method sorts objects of list, use compare function if given.
list1 = ['physics', 'Biology', 'chemistry', 'maths']
list1.sort()
print ("list now : ", list1)

list now :  ['Biology', 'chemistry', 'maths', 'physics']

In [70]:
#random library
#This module implements pseudo-random number generators for various distributions.
# random()
# random() method returns a random floating point number in the range [0.0, 1.0].
import random # importing the random library
# First random number
print ("random() : ", random.random())

# Second random number
print ("random() : ", random.random())

random() :  0.5691574062084332
random() :  0.07380436183516481